#sidebar .sidebar-item ul { list-style-type: none; margin: 0px; padding:0px; }
#sidebar .sidebar-item ul a { color: #a4a2a6; }
#sidebar .sidebar-item ul li.personal-link a { padding-left:10px; font-size: 0.6rem; }